  <a href="{{ image.original_path }}" 
     class="pswp-link image-item group block" 
     data-image-id="{{ image.id }}"
     data-pswp-width="{{ image.width }}" 
     data-pswp-height="{{ image.height }}"
     data-pswp-caption="{% if image.caption %}{{ image.caption|e }}{% endif %}{% if image.custom_camera or image.custom_lens %}<br><small class='text-xs opacity-75'>{% if image.custom_camera %}{{ image.custom_camera|e }}{% endif %}{% if image.custom_lens %} • {{ image.custom_lens|e }}{% endif %}</small>{% endif %}">
  <div class="relative aspect-[4/3] md:aspect-[3/2] overflow-hidden bg-neutral-100 rounded-sm cursor-pointer">
    <picture>
      {% set variants_avif = [] %}
      {% set variants_webp = [] %}
      {% set variants_jpg = [] %}
      {% set best_jpg_path = image.original_path %}
      {% set best_jpg_w = 0 %}
      {% for variant in image.variants %}
        {% if variant.format == 'avif' %}
          {% set variants_avif = variants_avif|merge([variant.path ~ ' ' ~ variant.width ~ 'w']) %}
        {% elseif variant.format == 'webp' %}
          {% set variants_webp = variants_webp|merge([variant.path ~ ' ' ~ variant.width ~ 'w']) %}
        {% elseif variant.format == 'jpg' %}
          {% set variants_jpg = variants_jpg|merge([variant.path ~ ' ' ~ variant.width ~ 'w']) %}
          {% if variant.width > best_jpg_w %}
            {% set best_jpg_path = variant.path %}
            {% set best_jpg_w = variant.width %}
          {% endif %}
        {% endif %}
      {% endfor %}
      
      {% if variants_avif %}
        <source type="image/avif" srcset="{{ variants_avif|join(', ') }}" sizes="(min-width: 1280px) 33vw, (min-width: 768px) 45vw, 90vw">
      {% endif %}
      {% if variants_webp %}
        <source type="image/webp" srcset="{{ variants_webp|join(', ') }}" sizes="(min-width: 1280px) 33vw, (min-width: 768px) 45vw, 90vw">
      {% endif %}
      
      <img src="{{ best_jpg_path }}" 
           alt="{{ image.alt_text|e }}" 
           width="{{ image.width }}" 
           height="{{ image.height }}"
           loading="lazy" 
           decoding="async"
           class="w-full h-full object-cover transition-transform duration-200 group-hover:scale-105">
    </picture>
    {% if album.allow_downloads %}
      <a href="/download/image/{{ image.id }}" class="absolute top-2 right-2 bg-black/70 text-white p-2 rounded opacity-0 group-hover:opacity-100 transition z-10" title="Download" onclick="event.stopPropagation(); event.preventDefault();" download>
        <i class="fa-solid fa-arrow-down"></i>
      </a>
    {% endif %}
    
    {% if image.caption %}
      <div class="absolute bottom-0 left-0 right-0 bg-black/60 text-white text-xs p-2 opacity-0 group-hover:opacity-100 transition-opacity">
        {{ image.caption|e }}
      </div>
    {% endif %}
  </div>
</a>
