<div class="image-item group" data-image-id="{{ image.id }}">
  <div class="aspect-square overflow-hidden bg-neutral-100 rounded-sm cursor-pointer" 
       onclick="openLightbox({{ image.id }})">
    <picture>
      {% set variants_avif = [] %}
      {% set variants_webp = [] %}
      {% set variants_jpg = [] %}
      {% for variant in image.variants %}
        {% if variant.format == 'avif' %}
          {% set variants_avif = variants_avif|merge(['/public' ~ variant.path ~ ' ' ~ variant.width ~ 'w']) %}
        {% elseif variant.format == 'webp' %}
          {% set variants_webp = variants_webp|merge(['/public' ~ variant.path ~ ' ' ~ variant.width ~ 'w']) %}
        {% elseif variant.format == 'jpg' %}
          {% set variants_jpg = variants_jpg|merge(['/public' ~ variant.path ~ ' ' ~ variant.width ~ 'w']) %}
        {% endif %}
      {% endfor %}
      
      {% if variants_avif %}
        <source type="image/avif" srcset="{{ variants_avif|join(', ') }}" sizes="(min-width: 1024px) 25vw, (min-width: 640px) 33vw, 50vw">
      {% endif %}
      {% if variants_webp %}
        <source type="image/webp" srcset="{{ variants_webp|join(', ') }}" sizes="(min-width: 1024px) 25vw, (min-width: 640px) 33vw, 50vw">
      {% endif %}
      
      <img src="/public{{ image.variants[0].path ?? image.original_path }}" 
           alt="{{ image.alt_text|e }}" 
           width="{{ image.width }}" 
           height="{{ image.height }}"
           loading="lazy" 
           decoding="async"
           class="w-full h-full object-cover transition-transform duration-200 group-hover:scale-105">
    </picture>
    
    {% if image.caption %}
      <div class="absolute bottom-0 left-0 right-0 bg-black/60 text-white text-xs p-2 opacity-0 group-hover:opacity-100 transition-opacity">
        {{ image.caption|e }}
      </div>
    {% endif %}
  </div>
  
  <!-- Metadata for lightbox (hidden) -->
  <script type="application/json" class="image-data">
  {
    "id": {{ image.id }},
    "src": "/public{{ image.original_path }}",
    "alt": {{ image.alt_text|e|json_encode|raw }},
    "caption": {{ image.caption|e|json_encode|raw }},
    "width": {{ image.width }},
    "height": {{ image.height }},
    "exif": {{ image.exif|json_encode|raw }},
    "metadata": {
      {% if image.iso %}"iso": {{ image.iso }},{% endif %}
      {% if image.shutter_speed %}"shutter": {{ image.shutter_speed|json_encode|raw }},{% endif %}
      {% if image.aperture %}"aperture": "f/{{ image.aperture }}",{% endif %}
      "process": {{ image.process|json_encode|raw }},
      {% if image.custom_camera %}"camera": {{ image.custom_camera|json_encode|raw }},{% endif %}
      {% if image.custom_lens %}"lens": {{ image.custom_lens|json_encode|raw }},{% endif %}
      {% if image.custom_film %}"film": {{ image.custom_film|json_encode|raw }}{% endif %}
    }
  }
  </script>
</div>