{% set show_captions = template_settings.show_captions|default(false) %}
<div class="caption-rail">
  {% for image in images %}
    {% set href = image.lightbox_url|default(image.url) %}
    {% set resolved_href = href starts with '/' ? base_path ~ href : href %}
    {% set img_src = image.fallback_src|default(image.url) %}
    {% set resolved_src = img_src starts with '/' ? base_path ~ img_src : img_src %}
    <figure class="caption-rail-item">
      <a href="{{ resolved_href|e('html_attr') }}"
         class="pswp-link"
         data-image-id="{{ image.id|e('html_attr') }}"
         data-pswp-width="{{ image.width|default(1600)|e('html_attr') }}"
         data-pswp-height="{{ image.height|default(1067)|e('html_attr') }}"
         data-pswp-caption="{{ image.caption|default('')|e('html_attr') }}">
        <picture>
          {% if image.sources.avif|default([])|length %}
            <source type="image/avif" srcset="{% for src in image.sources.avif %}{% set src_url = src|split(' ')|first %}{% if src_url starts with '/' %}{{ base_path }}{{ src_url }}{% else %}{{ src_url }}{% endif %} {{ src|split(' ')|slice(1)|join(' ') }}{% if not loop.last %}, {% endif %}{% endfor %}">
          {% endif %}
          {% if image.sources.webp|default([])|length %}
            <source type="image/webp" srcset="{% for src in image.sources.webp %}{% set src_url = src|split(' ')|first %}{% if src_url starts with '/' %}{{ base_path }}{{ src_url }}{% else %}{{ src_url }}{% endif %} {{ src|split(' ')|slice(1)|join(' ') }}{% if not loop.last %}, {% endif %}{% endfor %}">
          {% endif %}
          <img src="{{ resolved_src|e('html_attr') }}"
               alt="{{ image.alt_text|default(image.alt)|default('')|e('html_attr') }}"
               width="{{ image.width|default(1600) }}"
               height="{{ image.height|default(1067) }}"
               loading="lazy"
               decoding="async">
        </picture>
      </a>
      {% if show_captions and image.caption %}<figcaption>{{ image.caption|e('html') }}</figcaption>{% endif %}
    </figure>
  {% endfor %}
</div>

<script nonce="{{ csp_nonce() }}">
window.templateSettings = {{ template_settings|json_encode(constant('JSON_HEX_TAG'))|raw }};
</script>
